<div class="container my-2 p-1 d-flex flex-column justify-content-around">
  <span class="my-2">
    <h1 class="text-center">今天，你想對誰說幹話呢？</h1>
  </span>

  <span class="my-2" id="your-selection">
    <form action="/" method="POST" class="d-flex flex-column justify-content-around">
      <div class="card-container d-flex justify-content-around">
        <div class="card" style="width: 18rem">
          <img src="/images/angry-developer.jpg" class="card-img-top" alt="..." />
          <div class="card-body mx-auto">
            <input type="radio" name="selection" id="engineer" value="engineer" {{#if engineer}} checked {{/if}}/>
            <label for="selection" class="card-title">工程師</label>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img src="/images/angry-designer.jpg" class="card-img-top" alt="..." />
          <div class="card-body mx-auto">
            <input type="radio" name="selection" id="designer" value="designer" {{#if designer}} checked {{/if}}/>
            <label for="selection" class="card-title">設計師</label>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img src="/images/angry-founder.jpg" class="card-img-top" alt="..." />
          <div class="card-body mx-auto">
            <input type="radio" name="selection" id="entrepreneur" value="entrepreneur" {{#if entrepreneur}} checked {{/if}}/>
            <label for="selection" class="card-title">創業家</label>
          </div>
        </div>
      </div>
    </span>
    <span class="my-2 py-1 generation">
      <div
      class="row justify-content-center d-flex justify-content-center align-items-center"
      >
      <div class="col-2">
        <button type="submit" class="btn btn-success btn-lg" id="button">
          產生幹話
        </button>
      </div>
      <div class="col-9 m-1 result py-auto d-flex align-items-center" id="trashTalk">
        {{#if speech}}<h3>{{speech}}</h3>{{else}}<h5>大聲說出來！</h5>{{/if}}
      </div>
    </div>
  </span>
</form>
</div>
